<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    
    <IfModule mod_headers.c>
        SetEnvIf Origin "https?://(www\.)?(internationalsecuirities\.com|webtrader\.internationalsecuirities\.com)$" CaptureOrigin=$0
        Header always set Access-Control-Allow-Origin "%{CaptureOrigin}e" env=CaptureOrigin
        Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS, HEAD"
        Header always set Access-Control-Allow-Headers "Authorization, Content-Type, Accept, X-Requested-With, Cache-Control"
        Header always set Access-Control-Allow-Credentials "true"
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

php_value upload_max_filesize 6144M
php_value post_max_size 6144M
php_value memory_limit 6144M
php_value max_input_time 480
php_value max_execution_time 480